*, body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.container-dark{
    background-color: #282E40;
    color: #fff;
    width: 50%;
    overflow:auto; 
    overflow-x: hidden;
    overflow-y: auto;
}
.logo{
    font-size: 30px;
    margin-left: 2%;
    display: block;
    position: absolute;
    margin-top: 2%;
}
.title-language-one{
    width: 100%;
    display: block;
    margin-left: 40%;
    font-weight: 700;
    position: fixed;
    margin-top: 2%;
}
.text-language-one{
    width: 35%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-left: 35%;
    padding-top: 10%;
}

.container-light{
    background-color: rgb(255, 255, 255);
    color: #282E40;
    width: 50%;
    overflow:auto; 
    overflow-x: hidden;
}
.menuHamburger{
    color: #282E40;
    font-size: 30px;
    margin-left: 45%;
    display: block;
    position: absolute;
    margin-top: 2%;
}
.menuHamburger:hover{
    cursor: pointer;
}
.menu{
    position: absolute;
    display: none;
    background: #282E40;
    width: 100%;
    height: 59vh;
    color: white;
    text-align: center;
    padding-top: 20%;
}
.menuX{
    color: #fff;
    font-size: 30px;
    margin-left: 95%;
    display: block;
    position: absolute;
    margin-top: -18%;
}
.menuX:hover{
    cursor: pointer;
}
a{
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.title-language-two{
    width: 100%;
    display: block;
    margin-left: 3%;
    font-weight: 700;
    position: fixed;
    margin-top: 2%;
}
.text-language-two{
    width: 35%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-left: 30%;
    padding-top: 10%;
}

.icon-translate{
    position:absolute;
    margin-left: 45%;
    margin-top: 20%;
}