body, h1, h2, h3, ul, li, p, dd, dt, dl {
    margin: 0px;
    padding: 0px;
  }
  
  img {
    max-width: 100%; /*Faz com que não estoure o container*/
  }
  
  ul{
     list-style: none;
  }
  
  body{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased; /*Deixa a fonte mais suave*/
    display: flex;
    flex-direction: column;
  }
  
  .menu{
    margin-left: 50%;
    padding: 1rem;
  }
  
  .menu ul{
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-family: 'IBM Plex Sans', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .2em;
    margin-right: .5rem;
  }
  
  .menu li a:hover{
    border:1px solid #fff;
  }
  
  .title {
    font-family: 'IBM Plex Sans', monospace;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: #000;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .projects{
    width: 50%;
    height: 92vh;
    padding-bottom: 1rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .projects-list{
    height: 510px;
    overflow-y: scroll;
    margin-left: 9rem;
    margin-bottom: 2rem;
    padding: 2rem 0 !important;
  }
  
  .projects-list::-webkit-scrollbar{
    width: 18px;
  }
  
  .projects-list::-webkit-scrollbar-thumb{
    background:  #000;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
  }
  
  .projects-list::-webkit-scrollbar-track{
    background: #faf6ed;
  }
  
  .projects-description{
    color: rgb(255, 255, 255);
    width: 50%;
    margin-left: 50%;
    position: absolute;
    font-family: 'IBM Plex Sans', monospace;
    height: 510px;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-description p{
    padding: .5rem;
  }
  
  .projects-description section{
    text-align: center;
    display: none;
  }

  .projects-description section.ativo{
    margin-bottom: 8rem;
    display: block;
  }
  
  .whoIAm{
    background: rgb(255, 255, 255);
    height: 92vh;
    color: #000;
    width: 50%;
    margin-left: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .whoIAm-list{
    grid-column: 2 / 4;
  }
  
  .whoIAm-list dt{
    font-family: 'IBM Plex Sans', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color:  #222;
  }
  
  .whoIAm-list dd{
    font-family: 'IBM Plex Sans', monospace;
    margin-left: 1.3rem;
    margin-bottom: .5rem;
  }

  .skills{
    background: rgb(255, 255, 255);
    color: #000;
    height: 92vh;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skills div{
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 2rem;
    font-family: 'IBM Plex Sans', monospace;
  }
  
  .skills ul li{
    padding-bottom: 1rem;
  }

  .courses{
    background: rgb(255, 255, 255);
    color: #000;
    height: 92vh;
    margin-left: 50%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .courses div{
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 2rem;
    font-family: 'IBM Plex Sans', monospace;
  }
  
  .courses ul li{
    padding-bottom: 1rem;
  }

  .contact div{
    margin-top: 2rem;
  }

  .contact div a{
    font-size: 5rem;
    color: #000;
    margin-right: 2rem;
  }

  .contact div a:hover{
    color: #000;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
  }

  .contact{
    background: rgb(255, 255, 255);
    color: #000;
    height: 92vh;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .copy{
    width: 50%;
    margin-left: 50%;
    background:  rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1.3rem 0;
    font-family: 'IBM Plex Sans', monospace;
    font-weight: bold;
  }

  .copy p{
    text-align: center;
  }
  
  @media (max-width: 700px){
    body{
      grid-template-columns: 1fr; /* Agora só tem 1 coluna, ao contrário de antes, que tinha 4*/ 
    }
    .menu, .grid-section, .copy{
      grid-column: 1;
    }
    .grid-section{
      grid-template-columns: 100px 1fr;
      grid-gap: 10px;
    }
    .projects-list{
      grid-column: 1;
    }
    .whoIAm-list, .dados, .mapa{
      grid-column: 1 / 3;
    }
    .grid-section h1{
      font-size: 3rem;
    }
    .menu{
      margin-top: 0px;
    }
    .copy{
      margin-bottom: 0px;
    }
  }